<div class="news" style="background-color:red">
<ul>
	<% @postnew.each do |pn| %>
		<li><a href="/post/<%= pn.id %>"><%= pn.title %></a></li>
	<% end %>
</ul>
</div>

<div class="pic" style="background-color:green">
<ul>
	<% @postpic.each do |pp| %>
		<li><a href="/post/<%= pp.id %>"><%= pp.title %></a></li>
		<img src="<%= pp.pic %>">
	<% end %>
</ul>
</div>

<div class="video" style="background-color:bule">
<ul>
	<% @postvideo.each do |pv| %>
		<li><a href="/post/<%= pv.id %>"><%= pv.title %></a><%= pv.video %></li>
		
	<% end %>
</ul>
</div>